.account {
  color: var(--body-font-color);
  &-title {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
  }
  &-form__title {
    font-family: var(--header-font);
    font-weight: 600;
  }
  &-form__input {
    background: var(--account-input-field-color);
    border: none;
    &:focus {
      outline: none;
    }
  }
}
