:root {
  --header-font: 'Montserrat', sans-serif;
  --footer-font: 'Poppins', sans-serif;
  --headerAndFooter-background-color: #071f35;
  --button-color: #f18507;

  --claim-color: #081f35;

  --account-input-field-color: #f6f4f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html {
//   font-size: 62.5%;
// }
body {
  font-size: 1.6rem;
    line-height: 1.7;
}
