:root {
  --header-font: 'Montserrat', sans-serif;
  --footer-font: 'Poppins', sans-serif;
  --headerAndFooter-background-color: #071f35;
  --body-font-color: #071f35;
  --button-color: #f18507;
  --claim-color: #071f35;
  --account-input-field-color: #f6f4f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
}

.btn {
  background: var(--button-color);
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 1rem;
}

.btn:not(:last-child) {
  margin-right: 2rem;
  margin-left: 2rem;
}

.btn-outline {
  background: none;
  border: 2px solid white;
}

.btn-outline:focus {
  border: 2px solid white;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.claim-price-btn {
  padding: 0.5rem 2rem;
}

.claim-edit-btn {
  padding: 0.5rem 2.5rem;
  background: var(--claim-color);
}

.important-news__btn {
  background: var(--claim-color);
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.header {
  padding: 2rem 0;
  background: var(--headerAndFooter-background-color);
}

.logo {
  width: 7rem;
  height: auto;
}

header > .navbar,
.navbar-nav,
.nav-item,
.nav-link {
  font-family: var(--header-font);
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

header > .navbar:hover,
.navbar-nav:hover,
.nav-item:hover,
.nav-link:hover {
  color: white;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:visited {
  border-bottom: 1px solid var(--button-color);
}

navbar-toggler-icon > i {
  color: white;
}

.account {
  color: var(--claim-color);
}

.account-title {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color: var(--claim-color);
}

.account-form__title {
  font-family: var(--header-font);
  font-weight: 600;
}

.account-form__input, .account-form__input--textarea {
  background: var(--account-input-field-color);
  border: none;
}

.account-form__input:focus, .account-form__input--textarea:focus {
  outline: none;
}

.account-form__input--textarea, .account-form__input--textarea--textarea {
  resize: none;
  height: 6rem;
  color: #777;
}

.claims-action__icon {
  background: var(--claim-color);
  color: white;
  padding: 0.2rem;
  border-radius: 0.2em;
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 2.5rem;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

.claims-action select {
  border: none;
  border: 2px solid var(--claim-color);
  border-radius: 0.2em;
  background: var(--claim-color);
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem 0;
  width: 14rem;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

.has-search .form-control {
  padding: 0.2rem 0.75rem;
  border: none;
  border: 1px solid var(--claim-color);
  min-width: 13rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 65%;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.claim {
  -webkit-box-shadow: 1px 4px 5px #aaa;
          box-shadow: 1px 4px 5px #aaa;
  padding: 1rem 0;
}

.claim__item__content {
  font-family: var(--header-font);
}

.claim__item__content--img {
  width: 15rem;
  height: 10rem;
  border-radius: 0.2em;
}

.claim__item__content--title {
  color: var(--claim-color);
  font-family: var(--header-font);
}

.claim__item__content--text {
  color: #777;
  font-size: 0.8rem;
  font-family: var(--header-font);
}

.claim__item__content--link {
  color: var(--button-color);
}

.claim__item__content--link:hover {
  color: var(--button-color);
  text-decoration: none;
}

.claim__item__content--price {
  color: var(--button-color);
  font-family: inherit;
}

.claim__item__content__text--title {
  font-size: 1.5rem;
  color: var(--body-font-color);
  font-family: var(--header-font);
}

.claim__item__content__text--details {
  font-size: 0.9rem;
  color: #777;
  font-family: var(--header-font);
}

.all-docs__sub__photo {
  width: 6rem;
  height: 4.5rem;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

.sell-claim-form__input,
.sell-claim-form__input--price,
.sell-claim-form__input--textarea {
  border: none;
  border: 1px solid var(--claim-color);
}

.sell-claim-form__input:focus,
.sell-claim-form__input .sell-claim-form__input--price,
.sell-claim-form__input .sell-claim-form__input,
.sell-claim-form__input--price:focus,
.sell-claim-form__input--price .sell-claim-form__input--price,
.sell-claim-form__input--price .sell-claim-form__input,
.sell-claim-form__input--textarea:focus,
.sell-claim-form__input--textarea .sell-claim-form__input--price,
.sell-claim-form__input--textarea .sell-claim-form__input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid var(--claim-color);
}

.sell-claim-form__input--textarea,
.sell-claim-form__input--price--textarea,
.sell-claim-form__input--textarea--textarea {
  resize: none;
  height: 5rem;
}

.sell-claim-form__input--price {
  padding-left: 2rem;
  width: 10rem;
  transform: translateX(-2rem);
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  -ms-transform: translateX(-2rem);
  -o-transform: translateX(-2rem);
}

.form-group label {
  color: var(--body-font-color);
  font-size: 1.1rem;
  padding: 0.4rem;
  z-index: 1;
}

.form-group label::after {
  content: '|';
  color: var(--body-font-color);
}

.media {
  position: relative;
  background: #ddd;
  font-family: var(--header-font);
}

.media-news__image {
  width: 20rem;
  height: 19rem;
}

.media-img__content {
  width: 40%;
  color: white;
  -webkit-transform: translate(10px, -106px);
          transform: translate(10px, -106px);
  position: absolute;
}

.media-img__trend {
  font-size: 0.7rem;
}

.media-img__trend__title {
  font-size: 1.3rem;
  font-weight: 600;
}

.media-img__trend__date {
  font-size: 0.9rem;
  font-family: var(--footer-font);
}

.media-body {
  color: var(--claim-color);
  font-weight: bold;
}

.media-body__trends {
  padding: 0.5rem 0;
}

.media-body__trend {
  font-size: 0.7rem;
}

.media-body__trend__title {
  font-size: 1.3rem;
  font-weight: 600;
}

.media-body__trend__date {
  font-size: 0.7rem;
  font-family: var(--footer-font);
}

.important-news {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px #87865f;
          box-shadow: 0px 0px 5px 0px #87865f;
}

.important-news__title {
  font-size: 2rem;
}

.important-news__details {
  font-size: 0.9rem;
}

.important-news__related {
  font-size: 1rem;
  color: var(--button-color);
}

.latest-news {
  color: var(--claim-color);
  background: #ddd;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid var(--button-color);
  position: relative;
}

.latest-news__category {
  font-size: 1rem;
  color: var(--button-color);
}

.latest-news__category::after {
  content: '\f178';
  font-family: FontAwesome;
  right: 27px;
  top: 10px;
  position: absolute;
  color: var(--claim-color);
}

.latest-news__category:hover {
  color: var(--button-color);
  text-decoration: none;
}

.latest-news__category--title {
  font-size: 1rem;
}

.latest-news__category--date {
  font-size: 0.7rem;
  font-family: var(--footer-font);
}

.national-news {
  background: #ddd;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.national-news-image {
  width: 14rem;
  height: 12rem;
}

.national-news__body .media-body__trend__title {
  font-size: 1.5rem;
  color: var(--claim-color);
  font-weight: 600;
  padding-bottom: 1rem;
}

.national-news__body .media-body__trend__date {
  font-size: 0.7rem;
}

.hot-news {
  background: #ddd;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.hot-news-image {
  width: 6rem;
  height: 6rem;
}

.hot-news__body .media-body__trend__title {
  font-size: 1rem;
  color: var(--claim-color);
  font-weight: 600;
  padding-bottom: 1rem;
}

.hot-news__body .media-body__trend__date {
  font-size: 0.7rem;
  font-family: var(--footer-font);
}

#tabs .nav-tabs .nav-item.show,
.nav-link .nav-tabs .nav-link.active {
  color: var(--claim-color);
  font-size: 20px;
}

#tabs .nav-tabs .nav-item,
.nav-link .nav-tabs .nav-link {
  color: #777777;
  font-size: 20px;
}

.faq-questions .faq-question {
  color: var(--claim-color);
  font-weight: 600;
  cursor: pointer;
}

.faq-questions .faq-question__underline {
  border-top: 1px solid var(--claim-color);
}

.faq-questions > .faq-question::after {
  content: '\f175';
  /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 14px;
  margin-top: 8px;
  font-size: 1.2rem;
}

.faq-questions > .faq-question[aria-expanded='true']::after {
  content: '\f176';
  /* fa-chevron-up */
}

.faq-question__answer {
  padding-left: 0.8rem;
}

.faq-random__question {
  color: #777777;
  line-height: 2.5;
  text-decoration: underline;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.faq-random__question:hover {
  color: inherit;
}

.footer {
  background: var(--headerAndFooter-background-color);
  color: white;
  font-size: .8rem;
  font-family: var(--footer-font);
}

.footer h3 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.footer .nav,
.footer .nav-link {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: .5rem;
}

.footer-social__icon {
  font-size: 1rem;
  color: white;
}

.footer .fa {
  margin-top: 0.3rem;
}

.footer-logo {
  width: 10rem;
  height: auto;
  transform: translateX(-25px);
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
}
/*# sourceMappingURL=main.css.map */